= form_with model:  @user, local: true do |f|
  .form-group
    = f.label :name, "名前"
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :email, "メール"
    = f.text_field :email, class: "form-control"
  .form-group
    = f.label :pref_id, "都道府県"
    = f.collection_select :pref_id, Pref.all, :id, :pref_name, {prompt: "エリアを選択"}, {class: "form-control"}
  .form-group
    = f.label :zone_id, "選挙区"
    = f.collection_select :zone_id, Zone.all, :id, :zone_name, {prompt: "エリアを選択"}, {class: "form-control"}
  .form-group
    = f.label :age, "年齢"
    = f.number_field :age, class: "form-control"
  .form-group
    = f.label :password, "パスワード"
    = f.password_field :password, class: "form-control"
  .form-group
    = f.label :password_confirmation, "パスワード確認"
    = f.password_field :password_confirmation, class: "form-control"
  = f.submit "登録する", class: "btn btn-primary"