%h3 #{@selection.select_name}の選挙


= link_to "投票事前登録", new_selection_voter_path

.mb-3
%table.table.table-hover
  %thead.thead-default
    %tr
      %th 自分の氏名
      %th
      %th
      %th 投票した人
  %tbody
    - @voters.each do |voter|
      %tr
        %td= voter.user.name
        %td= link_to "やり直す", selection_voter_path(@selection, voter), method: :delete,remote: true, data: { confirm: "削除します"}, class: "btn btn-danger delete"
        - unless voter.vote_actions.present?
          %td= link_to "投票を行う", selection_voter_path(@selection, voter), class: "btn btn-success"
        - else
          %td= "投票済"
        - voter.vote_politicians.each do |action|
          %td= action.name