!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SelectVote
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .app-title.navbar-navbar-expand-md.navbar-light.bg-light
      .navber-brand

    %ul.navbar-nav.ml-auto
      - if current_user
        %li.nav-item= link_to "ログアウト", logout_path, method: :delete
        - if current_user.admin?
          %li.nav-item= link_to "ユーザー一覧", admin_users_path
      - else
        %li.nav-item= link_to "ログイン", login_path
    .container
      - if flash.notice.present?
        .alert.alert-success= flash.notice
    = yield
