!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SelectVote
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .app-title.navbar-navbar-expand-md.navbar-light.bg-light
      .navber-brand

    -# %ul.navbar-nav.ml-auto
    -#   %li.nav-item= link_to "ホーム", root_path, data: {"turbolinks" => false}
    -#   - if current_user
    -#     %li.nav-item= link_to "ログアウト", logout_path, method: :delete
    -#     - if current_user.admin?
    -#       %li.nav-item= link_to "ユーザー一覧", admin_users_path
    -#     - if current_user.admin?
    -#       %li.nav-item 権限者
    -#     - else
    -#       %li.nav-item 一般ユーザー
    -#   - else
    -#     %li.nav-item= link_to "新規登録", new_user_path
    -#     %li.nav-item= link_to "ログイン", login_path

    -# .container
    -#   - if flash.notice.present?
    -#     .alert.alert-success= flash.notice
%link{:href => "https://fonts.googleapis.com/css?family=Michroma", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "https://fonts.googleapis.com/css?family=Damion", :rel => "stylesheet", :type => "text/css"}/
.menu
  .menuItem.uno
    1
    %span.nav-item= link_to "ホーム", root_path, data: {"turbolinks" => false}
  - if current_user
    .menuItem.dos
      2
      %span.nav-item= link_to "ログアウト", logout_path, method: :delete
    - if current_user.admin?
      .menuItem.tres
        3
        %span.nav-item= link_to "ユーザー一覧", admin_users_path
    - if current_user.admin?
      .menuItem.cuatro
        4
        %span.nav-item 権限者
    - else
      .menuItem.cuatro
      4
      %span.nav-item 一般ユーザー
    .menuItem.cinco
      5
      %span coming
  - else
    .menuItem.dos
      2
      %span.nav-item= link_to "ログアウト", logout_path, method: :delete
    .menuItem.tres
      3
      %span.nav-item= link_to "新規登録", new_user_path
    .menuItem.cuatro
      4
      %span.nav-item= link_to "ログイン", login_path

.contents_main
  = yield
